* {
	box-sizing: border-box;
}

.site_domain {
	margin: 0;
	background-color: black;
	font-size: 16px;
	font-family: sans-serif;
}

#app {
	position: relative;
}

canvas {
	position: absolute;
}

#cnvLayer1 {
	z-index: 1;
}

#cnvLayer2 {
	z-index: 2;
}

#cnvLayer3 {
	z-index: 3;
}

audio {
	width: 80%;
	margin: 0px;
	padding: 0px;
}

input {
	position: absolute;
	color: white;
}
